<%= form_for(current_user.relationships.new, url: relationships_path(:user_id =>
	@user.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>